@font-face {
  font-family: "VectorBattle";
  /* TODO: convert to woff2 */
  src: url(assets/fonts/vector-battle-font/VectorBattle-e9XO.ttf);
}

html,
body {
  width: 100%;
  margin: 0;
  text-align: right;
  letter-spacing: 0.1rem;
  background-color: black;
  color: white;
  font-family: VectorBattle, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

html {
  height: 100%;
}

body {
  padding: 50px;
}

.description {
  align-self: baseline;
  margin: 20px;
  width: 20%;
}

canvas#game {
  cursor: crosshair;
  border: 1px solid white;
}
