@font-face {
  font-family: "VectorBattle";
  src: url(assets/fonts/vector-battle-font/VectorBattle-e9XO.woff2);
}

html,
body,
h1,
h2,
h3 {
  margin: 0;
}

html,
body {
  width: 100%;
  letter-spacing: 0.1rem;
  background-color: black;
  color: white;
  font-family: VectorBattle, Arial, Helvetica, sans-serif;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
::selection {
  color: gold;
}

html {
  height: 100%;
}

body {
  margin: 40px;
}

.description {
  align-self: baseline;
  margin: 20px;
  width: 300px;
}

canvas#game {
  cursor: crosshair;
  border: 1px solid white;
  width: 750px;
  height: 750px;
}

@media screen and (max-width: 1200px) {
  body {
    width: 800px;
  }

  .description {
    width: 100%;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 800px) {
  body {
    width: 400px;
  }

  canvas#game {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 400px) {
  body {
    width: 300px;
  }

  canvas#game {
    width: 300px;
    height: 300px;
  }
}
